In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
weather_data = pd.read_csv('seattle-weather.csv')

In [7]:
weather_data.head()

   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7        0
1           10.9      10.6       2.8   4.5        1
2            0.8      11.7       7.2   2.3        1
3           20.3      12.2       5.6   4.7        1
4            1.3       8.9       2.8   6.1        1

In [8]:
weather_data.isnull()

      precipitation  temp_max  temp_min   wind  weather
0             False     False     False  False    False
1             False     False     False  False    False
2             False     False     False  False    False
3             False     False     False  False    False
4             False     False     False  False    False
...             ...       ...       ...    ...      ...
1456          False     False     False  False    False
1457          False     False     False  False    False
1458          False     False     False  False    False
1459          False     False     False  False    False
1460          False     False     False  False    False

[1461 rows x 5 columns]

In [9]:
weather_data.shape

(1461, 5)

In [10]:
weather_data['weather'].value_counts()

1    641
2    640
4    101
0     53
3     26
Name: weather, dtype: int64

In [11]:
X = weather_data.drop (columns='weather',axis=1)
Y = weather_data['weather']

In [12]:
print(X)

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [13]:
print(Y)

0       0
1       1
2       1
3       1
4       1
       ..
1456    1
1457    1
1458    4
1459    2
1460    2
Name: weather, Length: 1461, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [15]:
print(X.shape, X_train.shape, X_test.shape)

(1461, 4) (1168, 4) (293, 4)

In [16]:
classifier = svm.SVC(kernel='linear')

In [17]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [18]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [19]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 0.8544520547945206

In [20]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [21]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 0.8361774744027304

In [30]:
input_data = (0, 22.8, 12.2, 2.5)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Cuaca Hari Ini Akan Gerimis')
elif (prediction[0]==1):
    print('Cuaca Hari Ini Akan Hujan')
elif (prediction[0]==2):
    print('Cuaca Hari Ini Akan Panas')
elif (prediction[0]==3):
    print('Cuaca Hari Ini Akan Turun Salju')
else:
    print('Cuaca Hari Ini Akan Berkabut')

[2]
Cuaca Hari Ini Akan Panas

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [31]:
import pickle

In [32]:
import pickle
filename = 'weather.sav'
pickle.dump(classifier, open(filename,'wb'))